DATABASE_URL="postgresql://USER:PASSWORD@HOST-PGBOUNCER:6543/healix?pgbouncer=true&connect_timeout=15&sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/healix?connect_timeout=15&sslmode=require"
AUTH_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
AUTH_TRUST_HOST="true"
AUTH_URL="http://localhost:3000"
